<div class="jumbotron">
  <h1 class="display-3">Welcome to BeFound!</h1>
  <p class="lead">Congratulations, you found us. We're a new discovery app.</p>
  <hr class="my-4">
  <p>Sign up to start discovering all the best things in every category. Share your recommendations for others to find or just scroll through our vast list of recommendations and find your new favorite thing.</p>
</div>
